<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>German Quintanilla | Ingeniero de Negocios</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Chaoo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/pic-profile.jpg" alt="Balbino Aylagas" class="pic-profile nav-link" />
              <span class="caption nav-link">German Quintanilla</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fas fa-envelope-open"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Pay my service</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>German Quintanilla</h2>
          <h3>Ingeniero de Negocios</h3>
          <p>Html . Excel . JavaScript . Python </p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Formas de contacto</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">Estadisticas</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/pic-profile.jpg" alt="German Quintanilla" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>✨Hola✨ </h2>
          <p>
            Mi nombre es German Daniel Quintanilla Orellana, soy un Ingeniero de Negocios
            de 27 años, certificado en Excel y experimentado en el diseño y creacion de paginas Web,
            ademas de un perfecto manejo de python para administrar bases de datos.
          </p>
          <p>
            Fuera del ambito laboral,soy una persona muy apasionada por el deporte,
            especialmente del futbol, participando durante mi juventud en equipos federados;
            de los videojuegos en linea y amante de conocer
            siempre nuevos lugares turisticos para disfrutar en familia o con amigos.
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>Mejora tu negocio</h2>
          <p>
            Te ayudo a crear una muy buena impresion con diseños creativos
            y profesionales para llamar la atencion de las personas.
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Proceso de estudios</h2>
            <p>
              Todo empezo en la universidad con las materias de programacion, tuve un
              gran interes desde el principio y termine de hundirme en ese mundo al
              salir de la universidad con un master en python y una certificacion de Excel
            </p>
            <!--
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Responsive Design</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
              quasi earum, debitis exercitationem quod labore quae, saepe
              voluptatum fugiat placeat iste, numquam maxime? Aliquam
              explicabo, reiciendis corrupti voluptatum eum esse?
            </p>
          </div>
          
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
          </div>
        </div>
        <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>Estadisticas</h2>
        <p>Este es mi creciemiento en los proyectos</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.png" />
        </div>
        <div class="project-description">
          <h2>Progreso a lo largo de mis años de trabajo</h2>
          <p>
            Al principio, como todos, se empieza de cero, poco a poco te contacta gente
            para llevar a cabo trabajos de creacion o administracion, puedo desir
            con orgullo que no he tenido bajos y mi trabajo siempre ha ido en crecimiento,
            como la grafica lo muestra.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Pasatiempo favorito</h2>
          <p>
            Para que me conozcan un poco mas. Estudie en el Liceo Salvadoreño desde pequeño
            y empece a jugar futbol en la seleccion del colegio a los 10 años, a partir de esa edad
            segui jugando hasta llegar a jugar en las filiales de un equipo de primera division,
            lastimosamente llego la etapa de decidir entre dedicarse al futbol o estudiar, en
            ese momento, abamdone mi sueño de niño.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/to-do.png" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/calculator.png" />
        </div>
        <div class="project-description">
          <h2>Disponibilidad de viaje</h2>
          <p>
            Asi como he trabajado de forma nacional, tambien me han contratado par servicios
            internacionales, siempre que necesiten mis servicios y requiera un viaje
            fuera del pais, el tiempo de antelacion debe ser un mes, para poder tener tiempo
            de organizacion, aparte, estoy sabedor para no comprometerme con otros proyectos.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Formas de contacto</h2>
      <p>
        Dejo aqui las redes que mas frecuento, si necesitan de mis servcios pueden enviar
        un mensaje y yo voy a responder lo mas rapido posible durante dias de semana,
        y sabados hasta medio dia
      </p>
      <div class="container">
        <p>
          <a href="mailto:gdquintanilla01@gmail.com"><i class="fas fa-envelope-open"></i> gdquintanilla01@gmail.com</a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-youtube"> YouTube</i></a>
        </p>
        <a href="#" target="_blank"><i class="fab fa-instagram"> Instagram</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Services</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by German Quintanilla &copy; 2020
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="#" target="_blank"><i class="fas fa-envelope-open"></i></a>
        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>